.tipCalculator{
    border-style: solid;
    border-color: black;
    width: 100%;
    border-radius: 10px;
    background-color: aliceblue;
}

#head{
    text-align: center;
}

label, input[type="text"] {
    display: block;
}

.total, #info{
    padding-left: 10px;
    padding-right: 20px;
}

#billNum, #tip, .calc{
    width: 100%
}

.calc:hover {
    background-color: rgb(73, 234, 73);

  }